# Happy Customers Project

- EDA analysis of variables in the raw dataset

In [1]:
import pandas as pd
import numpy as np

- Importing the dataset

In [13]:
df = pd.read_csv('../data/ACME-HappinessSurvey2020.csv')

- Checking the shape of the dataframe

In [14]:
df.shape

(126, 7)

- Checking dataframe structure

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126 entries, 0 to 125
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Y       126 non-null    int64
 1   X1      126 non-null    int64
 2   X2      126 non-null    int64
 3   X3      126 non-null    int64
 4   X4      126 non-null    int64
 5   X5      126 non-null    int64
 6   X6      126 non-null    int64
dtypes: int64(7)
memory usage: 7.0 KB

- Checking the beginning of the dataframe

In [9]:
df.head()

   Y  X1  X2  X3  X4  X5  X6
0  0   3   3   3   4   2   4
1  0   3   2   3   5   4   3
2  1   5   3   3   3   3   5
3  0   5   4   3   3   3   5
4  0   5   4   3   3   3   5

- Checking for missing values

In [10]:
df.isna()

         Y     X1     X2     X3     X4     X5     X6
0    False  False  False  False  False  False  False
1    False  False  False  False  False  False  False
2    False  False  False  False  False  False  False
3    False  False  False  False  False  False  False
4    False  False  False  False  False  False  False
..     ...    ...    ...    ...    ...    ...    ...
121  False  False  False  False  False  False  False
122  False  False  False  False  False  False  False
123  False  False  False  False  False  False  False
124  False  False  False  False  False  False  False
125  False  False  False  False  False  False  False

[126 rows x 7 columns]

In [11]:
null_values = df.isna().sum(axis=0)

In [12]:
null_values

Y     0
X1    0
X2    0
X3    0
X4    0
X5    0
X6    0
dtype: int64

- Checking for variables with unique values

In [15]:
for (columnName, columnData) in df.iteritems():
    print('Does the variable', columnName, 'has unique values? --------> ', columnData.is_unique)

Does the variable Y has unique values? -------->  False
Does the variable X1 has unique values? -------->  False
Does the variable X2 has unique values? -------->  False
Does the variable X3 has unique values? -------->  False
Does the variable X4 has unique values? -------->  False
Does the variable X5 has unique values? -------->  False
Does the variable X6 has unique values? -------->  False

- Since all variables are integers, there is no need to split the dataset into categorical and numerical variables
- Next step is to perform EDA for numerical variables

### Identifying skillness and distribution

In [18]:
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [20]:
print(df.describe())

                Y          X1          X2          X3          X4          X5  \
count  126.000000  126.000000  126.000000  126.000000  126.000000  126.000000
mean     0.547619    4.333333    2.531746    3.309524    3.746032    3.650794
std      0.499714    0.800000    1.114892    1.023440    0.875776    1.147641
min      0.000000    1.000000    1.000000    1.000000    1.000000    1.000000
25%      0.000000    4.000000    2.000000    3.000000    3.000000    3.000000
50%      1.000000    5.000000    3.000000    3.000000    4.000000    4.000000
75%      1.000000    5.000000    3.000000    4.000000    4.000000    4.000000
max      1.000000    5.000000    5.000000    5.000000    5.000000    5.000000

               X6
count  126.000000
mean     4.253968
std      0.809311
min      1.000000
25%      4.000000
50%      4.000000
75%      5.000000
max      5.000000